#kopitnik.stamp{
	background-image: url('../images/m_kopitnik_brez.png');
}
#kopitnik.stamped{
	background-image: url('../images/m_kopitnik.png');
}
#loka.stamp{
	background-image: url('../images/m_loka_brez.png');
}
#loka.stamped{
	background-image: url('../images/m_loka.png');
}
#mrzlica.stamp{
	background-image: url('../images/m_mrzlica_brez.png');
}
#mrzlica.stamped{
	background-image: url('../images/m_mrzlica.png');
}
#nanos.stamp{
	background-image: url('../images/m_nanos_brez.png');
}
#nanos.stamped{
	background-image: url('../images/m_nanos.png');
}
#peca.stamp{
	background-image: url('../images/m_peca_brez.png');
}
#peca.stamped{
	background-image: url('../images/m_peca.png');
}
#razor.stamp{
	background-image: url('../images/m_razor_brez.png');
}
#razor.stamped{
	background-image: url('../images/m_razor.png');
}
#smohor.stamp{
	background-image: url('../images/m_smohor_brez.png');
}
#smohor.stamped{
	background-image: url('../images/m_smohor.png');
}
#studenec.stamp{
	background-image: url('../images/m_studenec_brez.png');
}
#studenec.stamped{
	background-image: url('../images/m_studenec.png');
}
#zelenica.stamp{
	background-image: url('../images/m_zelenica_brez.png');
}
#zelenica.stamped{
	background-image: url('../images/m_zelenica.png');
}

#stampme.kopitnik{
	background-image: url('../images/kopitnik_brez.png');
}
#stampme.kopitnik.stamped{
	background-image: url('../images/kopitnik.png');
}
#stampme.loka{
	background-image: url('../images/loka_brez.png');
}
#stampme.loka.stamped{
	background-image: url('../images/loka.png');
}
#stampme.mrzlica{
	background-image: url('../images/mrzlica_brez.png');
}
#stampme.mrzlica.stamped{
	background-image: url('../images/mrzlica.png');
}
#stampme.nanos{
	background-image: url('../images/nanos_brez.png');
}
#stampme.nanos.stamped{
	background-image: url('../images/nanos.png');
}
#stampme.peca{
	background-image: url('../images/peca_brez.png');
}
#stampme.peca.stamped{
	background-image: url('../images/peca.png');
}
#stampme.razor{
	background-image: url('../images/razor_brez.png');
}
#stampme.razor.stamped{
	background-image: url('../images/razor.png');
}
#stampme.smohor{
	background-image: url('../images/smohor_brez.png');
}
#stampme.smohor.stamped{
	background-image: url('../images/smohor.png');
}
#stampme.studenec{
	background-image: url('../images/studenec_brez.png');
}
#stampme.studenec.stamped{
	background-image: url('../images/studenec.png');
}
#stampme.zelenica{
	background-image: url('../images/zelenica_brez.png');
}
#stampme.zelenica.stamped{
	background-image: url('../images/zelenica.png');
}